<div id="content">
<div>
<button id="js_play">Play</button>
<button id="js_pause">Pause</button>
<button id="js_edit">Edit</button>
<button id="js_select">Select</button>
<button id="js_paste">Paste</button>
<span id="js-pallet-container"></span>
<button id="js_link">Link</button>
</div>
<div id="js-link-text" />
<div id="js-visulan-slot" />
</div>
