<div id="content">
<div>
<button id="js_play">Play</button>
<button id="js_pause">Pause</button>
<button id="js_select" class='js-world-view-mode'>Select</button>
<button id="js_paste" class='js-world-view-mode'>Paste</button>
<span id="js-pallet-container"></span>
<button id="js_link">Link</button>
</div>
<div id="js-link-text" />
<div id="js-visulan-slot" />
</div>
<address>dagezi@gmail.com</address> or <a href="http://twitter.com/dagezi/">@dagezi</a>

