<div id="content">
<button id="js_play">Play</button>
<button id="js_pause">Pause</button>
<button id="js_link">Link</button>
<span id="js-pallet-container"></span>
<div id="js-link-text" />
<div id="js-visulan-slot" />
</div>
